<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원추가</title>
</head>
<body>
<h2 align="center">회원추가</h2>
    <form action="/member/join" method="post" name="addp">
        <table align="center">
            <tr><th>아이디</th><td><input type="text" name="id"></td></tr>
            <tr><th>비밀번호</th><td><input type="password" name="pwd"></td></tr>
            <tr><th>이름</th><td><input type="text" name="name"></td></tr>
            <tr><th>이메일</th><td><input type="text" name="email"></td></tr>
            <tr><td colspan="2" align="center" height="50px"><input type="submit" value="가입"><input type="reset" value="취소"></td></tr>
        </table>
    </form>
</body>
</html>