{% extends "base.html" %}

{% block content %}
<div class="container container-md my-5 mx-auto col-8">
    <h2 class="h2 mb-3 fw-bold">나의 따릉이 이용내역</h2>
    <table class="table table-hover table-bordered">
        <tr class="table-success"><th>대여일</th><th>대여한 대여소</th><th>반납한 대여소</th><th>대여시간</th><th>반납시간</th><th>이동거리</th></tr>
        {% for h in hist %}
        <tr>
            <td>{{h.rent_date}}</td>
            <td>{{h.rent_station}}</td>
            <td>{{h.return_station}}</td>
            <td>{{h.rent_time}}</td>
            <td>{{h.return_time}}</td>
            <td>{{h.distance}}m</td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-outline-secondary" href="/history/add">새 이용내역 등록</a>
</div>
<div class="container container-md my-5 mx-auto col-8">
    <h1 class="h2 mb-3 fw-bold border-bottom">나의 따릉이 이용통계</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 my-4">
        <div class="col mt-2">
            <div class="card h-100 rounded-3 border-success">
                <div class="card-body text-dark bg-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h6 class="h6 fw-bold align-middle mb-0">총 이용횟수</h6>
                        </div>
                    </div>
                    <div>
                        <h2 class="h2 my-4 fw-bold text-success">{{count}}회</h2>
                        <p class="mb-0">{{user.name}}님이 따릉이를 사용하신 총 횟수입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 rounded-3 border-success">
                <div class="card-body text-dark bg-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h6 class="h6 fw-bold align-middle mb-0">총 이동거리</h6>
                        </div>
                    </div>
                    <div>
                        <h2 class="h2 my-4 fw-bold text-success">{{distance}}km</h2>
                        <p class="mb-0">따릉이를 타고 이동하신 전체 거리입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 rounded-3 border-success">
                <div class="card-body text-dark bg-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h6 class="h6 fw-bold align-middle mb-0">총 사용시간</h6>
                        </div>
                    </div>
                    <div>
                        <h2 class="h2 my-4 fw-bold text-success">{{hour}}</h2>
                        <p class="mb-0">따릉이 사용시간의 총합입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 rounded-3 border-success">
                <div class="card-body h-100 text-dark bg-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h6 class="h6 fw-bold align-middle mb-0">자주 사용한 대여소</h6>
                        </div>
                    </div>
                    <div>
                        <h2 class="h2 my-4 fw-bold text-success">{{favstn}}</h2>
                        <p class="mb-0">대여/반납을 위해 가장 많이 사용한 대여소입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 rounded-3 border-success">
                <div class="card-body text-dark bg-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h6 class="h6 fw-bold align-middle mb-0">탄소감축 기여량</h6>
                        </div>
                    </div>
                    <div>
                        <h2 class="h2 my-4 fw-bold text-success">{{carbon}}kg</h2>
                        <p class="mb-0">이동거리(km)에 0.232를 곱한 값입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card h-100 rounded-3 border-success">
                <div class="card-body text-dark bg-light">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h6 class="h6 fw-bold align-middle mb-0">나의 총 운동량</h6>
                        </div>
                    </div>
                    <div>
                        <h2 class="h2 h-100 my-4 fw-bold text-success">{{workout}}kcal</h2>
                        <p class="mb-0">이동거리*몸무게*상수를 곱한 값입니다</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container-md my-5 mx-auto col-8">
    <h2 class="h2 mt-5 border-bottom fw-bold">나의 따릉이 사용량 비교하기</h2>
    <h5 class="h5 mt-3 fw-bold">나의 정보</h5>
    <table class="table table-bordered">
        <tr class="table-success"><th>이름</th><th>연령대</th><th>성별</th></tr>
        <tr><td>{{user.name}}</td><td>{{user.age}}</td><td>{{gender}}</td></tr>
    </table>
    <table class="table text-center table-striped">
        <tr class="table-secondary">
            <th>내 평균 운동량</th>
            <th>내 평균 탄소 감축량</th>
            <th>내 평균 이동거리</th>
            <th>내 평균 사용시간</th>
        </tr>
        <tr class="fs-5 fw-bold text-success">
            <td>{{myavg_workout}} kcal</td>
            <td>{{myavg_carbon}} kg</td>
            <td>{{myavg_distance}} m</td>
            <td>{{myavg_hour}} 분</td>
        </tr>
        <tr>
            <th>전체 이용자 평균 운동량</th>
            <th>전체 이용자 평균 탄소 감축량</th>
            <th>전체 이용자 평균 이동거리</th>
            <th>전체 이용자 평균 사용시간</th>
        </tr>
        <tr>
            <td>{{avg_total_list[0]}}</td>
            <td>{{avg_total_list[1]}}</td>
            <td>{{avg_total_list[2]}}</td>
            <td>{{avg_total_list[3]}}</td>
        </tr>
        <tr>
            <th>내 연령대 평균 운동량</th>
            <th>내 연령대 평균 탄소감축량</th>
            <th>내 연령대 평균 이동거리</th>
            <th>내 연령대 평균 사용시간</th>
        </tr>
        <tr>
            <td>{{avg_age_list[0]}}</td>
            <td>{{avg_age_list[1]}}</td>
            <td>{{avg_age_list[2]}}</td>
            <td>{{avg_age_list[3]}}</td>
        </tr>
        <tr>
            <th>내 동일 성별 평균 운동량</th>
            <th>내 동일 성별 평균 탄소감축량</th>
            <th>내 동일 성별 평균 이동거리</th>
            <th>내 동일 성별 평균 사용시간</th>
        </tr>
        <tr>
            <td>{{avg_gender_list[0]}}</td>
            <td>{{avg_gender_list[1]}}</td>
            <td>{{avg_gender_list[2]}}</td>
            <td>{{avg_gender_list[3]}}</td>
        </tr>
    </table>
</div>


{% endblock %}