<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>글 수정</h3>
    <form action="/board/edit" method="post">
        <table border="1">
            <tr><th>num</th><td><input type="text" name="num" value="{{b.num}}" readonly></td></tr>
            <tr><th>writer</th><td><input type="text" name="id" value="{{b.writer}}" readonly></td></tr>
            <tr><th>title</th><td><input type="text" name="title" value="{{b.title}}"></td></tr>
            <tr><th>content</th><td><textarea name="content" rows="15" cols="45">{{b.content}}</textarea></tr>
            <tr><td colspan="2"><input type="submit" value="수정"></td></tr>
        </table>
    </form>
</body>
</html>