<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>글목록</h3>
    <a href="/board/add">글작성</a><br/>
    <table border="1">
        <tr><th>num</th><th>title</th><th>writer</th><th>date</th></tr>
        {% for b in board %}
        <tr>
            <td>{{b.num}}</td>
            <td><a href="/board/content?num={{b.num}}">{{b.title}}</a></td>
            <td>{{b.writer}}</td>
            <td>{{b.w_date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>