<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function del(num){
            var flag = confirm("정말로 삭제하시겠습니까?");
            if(flag){
                location.href="/board/del?num="+num
            }else{
                alert('삭제취소')
            };
        }
    </script>
</head>
<body>
    <h3>{{b.title}}</h3>
    <table border="1">
        <tr><th>num</th><td>{{b.num}}</td></tr>
        <tr><th>writer</th><td>{{b.writer}}</td></tr>
        <tr><th>date</th><td>{{b.w_date}}</td></tr>
        <tr><th>content</th><td><textarea name="content" rows="15" cols="45" readonly>{{b.content}}</textarea></tr>
        {% if b.writer == session.id %}
        <tr><td colspan="2"><input type="button" value="수정" onclick="location.href='/board/edit?num={{b.num}}'">
            <input type="button" value="삭제" onclick="del('{{b.num}}')">
        </td></tr>
        {% endif %}
    </table>
</body>
</html>